:root {
  --unit-grid: min(calc(99vw / 11), calc(99vh / 9));
}

* {
  box-sizing: border-box;
  font-size: var(--unit-grid);
}

.small {
  font-size: calc(var(--unit-grid) * 0.7);
}

canvas {
  width: calc(var(--unit-grid) * 11);
}

input {
  width: calc(var(--unit-grid) * 11);
  height: var(--unit-grid);
}

.box {
  display: flex;
  align-items: flex-end;
  width: calc(var(--unit-grid) * 1.5);
}

#display {
  display: flex;
  flex-direction: row;
}

/* ==== base ==== */

html {
  touch-action: manipulation;
}

/* animation */
.correct {
  animation-name: correct;
  animation-duration: 1s;
}
.incorrect {
  animation-name: incorrect;
  animation-duration: 1s;
}
@keyframes correct {
  0% {
    background-color: green;
  }
}
@keyframes incorrect {
  0% {
    background-color: maroon;
  }
}
