:root {
  --unit-grid: min(calc(99vw / 12), calc(99vh / 9));
}

* {
  font-size: var(--unit-grid);
}
.small {
  font-size: calc(var(--unit-grid) * 0.8);
}

canvas,
input {
  width: calc(var(--unit-grid) * 11);
  /* height: calc(var(--unit-grid) * 11); */
}

.box {
  display: block;
  width: calc(var(--unit-grid) * 1.5);
  /*コレ*/
  display: flex;
  /*コレ*/
  align-items: flex-end;
}
/* .symbol { */
/* align-items: center; */
/* vertical-align: bottom; */
/* margin: 0 auto; */
/* } */

#display {
  display: flex;
  flex-direction: row;
}

/* ==== base ==== */

html {
  touch-action: manipulation;
}

/* animation */
.correct {
  animation-name: correct;
  animation-duration: 1s;
}
.incorrect {
  animation-name: incorrect;
  animation-duration: 1s;
}
@keyframes correct {
  0% {
    background-color: green;
  }
}
@keyframes incorrect {
  0% {
    background-color: maroon;
  }
}
